[core]
  editor = code --wait
  ignorecase = false
[init]
	defaultBranch = main
[pull]
  rebase = true
[user]
	name = {{ .git.work.name }}
	email = {{ .git.work.email }}
[includeIf "gitdir:~/dev/work/"]
  path = ~/.config/git/config.work
[includeIf "gitdir:~/dev/personal/"]
  path = ~/.config/git/config.personal
