[user]
	name = {{- .full_name -}}
	email = {{- .personal_email -}}
[core]
  editor = code --wait
  ignorecase = false
[init]
	defaultBranch = main
[pull]
  rebase = true
[includeIf "gitdir:{{ env "WORK_PROJECTS" }}"]
  path = {{ env "XDG_CONFIG_HOME" }}/git/config.work
