# This script template is a function that will prompt the user to run, skip, or quit the script
# It will return 0 if the user runs the script, 1 if the user skips the script, and 2 if the user quits the script

script_prompt() {
    local script_name="$1"
    local script_description="$2"
    echo
    echo "--------------------------------"
    echo
    echo "The $script_name script will be executed"
    echo "$script_description"
    echo
    echo "You can run the script, skip it, or quit all the installation process"
    echo
    read -n 1 -s -r -p "Press (r)un, (s)kip, or (q)uit: " choice
    echo
    echo

    case $choice in
        r|R|'')
            echo "Running $script_name script..."
            return 0
            ;;
        s|S)
            echo "Skipping $script_name script..."
            exit 0
            ;;
        q|Q)
            echo "Stopping the installation process..."
            exit 1
            ;;
        *)
            echo "Invalid choice. Skipping $script_name script..."
            exit 0
            ;;
    esac
}
